* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f9eae1;
}

h3 + p {
    font-weight: bold;
}

h1 {
    color: #f9eae1;
    font-size: 65px;
    text-shadow: #ff6347 3px 2px 2px;
    transition: ease-in-out all 1s;
}

h2 {
    color: #ff6347;
    font-size: 45px;
    text-shadow: #607466 3px 3px 3px;
}
nav a {
    text-decoration: none;
    margin-left: 30px;
    font-size: 24px;
    transition: ease-in .3s all
}



header {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    background-color: #607466;
    padding: 10px 0px 20px 50px;
}

#logo {
    border-radius: 80px;
    width: 150px;
    justify-self: center;
    transition: ease-in-out all 1s;
    animation-iteration-count: infinite;
}

#logo:hover {
    border-radius: 10px;
}

.title {
    justify-self: right;
    align-self: center;
    transition: ease-in-out all 1s;
}

h1:hover {
    text-shadow: #1d3461 3px 2px 2px;
    /* text-shadow: #af3b6e 3px 2px 2px; */
    /* text-shadow: #ff6347 3px 2px 2px; */
}


nav {
    align-self: end;
    justify-self: center;
}

.externalNav {
    width: 1045px;
    height: 80px;
    /* border: 5px #1d3461 solid; */
    padding: 15px;
    margin: 20px;
    background-color: #ADAFA4;
    transition: 3s all ease-in-out;
}

.pizzaImg {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-rows: 2fr 3fr; */
    max-width: 1200px;
    place-items: center;
}

.pizzaImg img {
    margin: 20px;
    /* width: 300px; */
}

.textBox {
    justify-self: center;
    align-self: center;
    padding: 20px;
    margin: 20px 20px 0px 20px;
    border: #af3b6e solid 5px;
    /* height: 200px; */
}

#chefHands {
    width: 300px;
    align-self: center;
    /* height: 200px; */
}

#gourmetPizza {
    height: 315px;
    align-self: center;
}


iframe {
    height: 315px;
    width: 560px;
    margin-left: 15px;
    align-self: center;
    border: #af3b6e solid 5px;
}

#choose {
    width: 170px;
    position: absolute;
    top: 210px;
    left: 1170px;
    font-size: 1.5em;
    text-align: center;
}

#emoji {
    width: 80px;
    height: auto;
    position: absolute;
    top: 335px;
    left: 1150px;
    transition: ease-in-out .9s all;
    z-index: 2;
}

#emoji:hover {
    top: 470px;
    left: 1205px;
    width: 130px;
}

#plate {
    width: 235px;
    height: auto;
    position: absolute;
    top: 420px;
    left: 1150px;
    z-index: 1;
}

#salad {
    width: 80px;
    height: auto;
    position: absolute;
    top: 335px;
    left: 1225px;
    transition: ease-in-out 1s all;
    z-index: 2;
}

#salad:hover {
    width: 150px;
    top: 455px;
    left: 1190px;
} 

#pasta {
    width: 90px;
    height: auto;
    position: absolute;
    top: 320px;
    left: 1300px;
    transition: ease-in-out 1s all;
    z-index: 2;
}

#pasta:hover {
    top: 440px;
    left: 1200px;
    width: 150px;
}

a:link {
    color: #af3b6e;
}

a:visited {
    color: #ff6347;
}

a:hover {
    text-decoration: underline;
    color: #1d3461;
}

a:active {
    font-size: 40px;
}
